.otherSection_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.otherSection_p1{
    font-family: Tomato Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 90%;
    letter-spacing: -0.05em;
    color: #2D2D2D;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    
}

.otherSection_div1{
    width: 40%;
}

.otherSection_Link{
    text-decoration: none;
    font-family: Tomato Grotesk;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.05em;
    color: #07969E;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.otherSection_Link img{
    margin-right: 10px;
    margin-left: 5px;
}

@media only screen and (max-width: 800px){
    .otherSection_container{
      padding-left: 7vw;
      padding-right: 7vw;
    }
  }
@media only screen and (min-width: 800px){
    .otherSection_container{
      padding-left: 13vw;
      padding-right: 13vw;
    }
  }

@media only screen and (min-width: 768px){
    .mobile_view{
      display: none;
    }

  }
@media only screen and (max-width: 767px){
    .desktop_view{
      display: none;
    }
    .otherSection_container{
 
      flex-wrap: wrap;
    }
    .otherSection_div1{
      width: 100%;
    }
    .otherSection_p1{
      text-align: center;
    }

    .otherSection_div1 p{
      text-align: center;
    }

  }