.saveforyourfuture_container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
}

.saveforyourfuture_image{
    width: 40%;
    margin-right: 20%;
}
.saveforyourfuture_text{
    width: 30%;
    /* margin-left: 10%; */
}

.saveforyourfuture_text button{
    background: #07969E;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    cursor: pointer;
    
}
.saveforyourfuture_text_p2{
    font-family: Tomato Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -0.05em;
    /* color: #2D2D2D; */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

.saveforyourfuture_text_p2 span{
    color: #8a5df1;
}

@media only screen and (max-width: 800px){
    .saveforyourfuture_container{
      padding-left: 7vw;
      padding-right: 7vw;
    }
  }
@media only screen and (min-width: 800px){
    .saveforyourfuture_container{
      padding-left: 13vw;
      padding-right: 13vw;
    }
  }

  @media only screen and (max-width: 767px){
    .saveforyourfuture_container{
      display: none;
    }
  }
