.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;

}

.nav_items{

}

.nav_list{
    list-style: none;
    display: flex;
}

.nav_list li{
    margin-right: 15px;
    font-family: Tomato Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 19px;
    color: #07969E;
    
    
}




.navbar {
  background-color: #A0DDE2;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #A0DDE2;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 40px;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #ffffff;
}


.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #A0DDE2;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}





@media only screen and (max-width: 767px){
  .nav_items{
    display: none;
  }
  
}

@media only screen and (min-width: 768px){
  .mobile_sidenav{
    display: none;
  }
  
}
@media only screen and (max-width: 800px){
    .nav_container{
      padding-left: 7vw;
      padding-right: 7vw;
    }
  }
  @media only screen and (min-width: 800px){
    .nav_container{
      padding-left: 13vw;
      padding-right: 13vw;
    }
  }